<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.childtest">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:name=".appConfig.ThisApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChildTest">
        <activity
            android:name=".test.TestActivity"
            android:exported="true" />
        <activity
            android:name=".menu.LoginActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".menu.MenuActivity"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".app.EnglishActivity"
            android:exported="false" />
        <activity
            android:name=".app.DigitalActivity"
            android:exported="false" />
        <activity
            android:name=".app.DigitalLoginActivity"
            android:exported="false" />
        <activity
            android:name=".app.JapaneseActivity"
            android:exported="false" />
        <activity
            android:name=".app.JapaneseKaTaActivity"
            android:exported="false" />
        <activity
            android:name=".menu.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".app.TextToSpeechActivity"
            android:exported="false" />
    </application>

</manifest>